[Project Managers]
# protect individual files in the root directory such as the CODEOWNERS file
/*                              @gabe @micah.nagel @michaelmcleroy @ryan.thompson.44 @runyontr @ryan.j.garcia @brandencobb @joshwolf
# Recursive protection for directories
/.gitlab-ci/                    @gabe @micah.nagel @michaelmcleroy @ryan.thompson.44 @runyontr @ryan.j.garcia @brandencobb @joshwolf
/.gitlab/                       @gabe @micah.nagel @michaelmcleroy @ryan.thompson.44 @runyontr @ryan.j.garcia @brandencobb @joshwolf
/base/                          @gabe @micah.nagel @michaelmcleroy @ryan.thompson.44 @runyontr @ryan.j.garcia @brandencobb @joshwolf
/chart/                         @gabe @micah.nagel @michaelmcleroy @ryan.thompson.44 @runyontr @ryan.j.garcia @brandencobb @joshwolf
/charter/                       @gabe @micah.nagel @michaelmcleroy @ryan.thompson.44 @runyontr @ryan.j.garcia @brandencobb @joshwolf
/scripts/                       @gabe @micah.nagel @michaelmcleroy @ryan.thompson.44 @runyontr @ryan.j.garcia @brandencobb @joshwolf
/tests/                         @gabe @micah.nagel @michaelmcleroy @ryan.thompson.44 @runyontr @ryan.j.garcia @brandencobb @joshwolf
/docs/                          @gabe @micah.nagel @michaelmcleroy @ryan.thompson.44 @runyontr @ryan.j.garcia @brandencobb @joshwolf


[Docs Owners]
# Allow any one of the listed codeowners to approve merges to the documentation 
# Does not allow the creator of the merge request to be the approver.
/docs/                          @brandencobb @cmcgrath @echuang @evan.rush @jasonkrause @joshwolf @kenna81 @kevin.wilder @LynnStill @micah.nagel @michaelmartin @michaelmcleroy @rkernick @runyontr @ryan.j.garcia @shouseba @toladipupo @tsiddique1 @ronwebb @ryan.thompson.44 @gabe

################################################
# The following entries are for optional approval. 
# They are only included to document contacts and have no impact on approval requirements
################################################

^[Kustomize Base Owners]
base/                           @michaelmcleroy @micah.nagel @ryan.j.garcia @brandencobb

^[CI Owners]
.gitlab-ci/                     @toladipupo @brandencobb @evan.rush
tests/                          @toladipupo @brandencobb @evan.rush

^[Hack Owners]
scripts/                        @toladipupo @michaelmcleroy 
^[Charter Owners]
charter/                        @gabe @micah.nagel @michaelmcleroy @ryan.thompson.44 @runyontr @ryan.j.garcia @brandencobb
